.map {
    margin-left: 12.5%;
    margin-right: 12.5%;
    border: 1px solid black;
    height: 77.4vh
}

/* .main {
    background-image: url('../beach.jpeg');
    background-size: cover;
    position: relative;
} */
